body {
  font-family: Arial;
  padding: 0; margin: 0;
  background: #f1f1f1;
}
header {
  background: #1e1e8f;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.content { padding: 20px; }
.form-box {
  margin: 50px auto;
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
button {
  width: 100%; padding: 10px;
  background: #1e1e8f; color: white;
  border: none; cursor: pointer;
  margin-top: 10px;
}
